<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>k</title>
</head>
<body>
<th:block>
<!--    <p th:text = "${greeting}"></p>-->
</th:block>
<!--<p th:text = "${user.getFirstName()}"></p>-->
<!--<p th:text = "${user.getLastName()}"></p>-->
<!--<p th:text = "${user.getEmail()}"></p>-->
<h1>
    Create User
</h1>
<form action="#" th:action = "@{/create}" th:object="${user}" method="post">
    <p>
        <label> First name: </label>
        <input type="text" th:field="*{firstName}">
        <label> Last name: </label>
        <input type="text" th:field="*{lastName}">
        <label> Email: </label>
        <input type="text" th:field="*{email}">
        <label> Password: </label>
        <input type="text" th:field="*{password}">
        <label> Phone number: </label>
        <input type="text" th:field="*{phoneNumber}">
        <label> Username: </label>
        <input type="text" th:field="*{username}">
        <input type="submit" value="Add user">



    </p>
</form>

</body>
</html>
